presence/server/configuration/xsd/pde_palBasePolicy-v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

PDE Schema - PAL Policy base types for use by the PAL Enabler
   version - 1.0
   date    - 31 August 2010

FILE INFORMATION

  OMA Permanent Document
    File: OMA-SUP-XSD_pde_palBasePolicy-V1_0-20100831-C
    Type: text/xml - XML Schema Description file

  Public Reachable Information
    Path: http://www.openmobilealliance.org/tech/profiles
    Name: pde_palBasePolicy-v1_0.xsd

NORMATIVE INFORMATION

  Information about this file can be found in the specification

    OMA-DDS-PAL_Data_Ext-V1_0-20100831-C

  available at http://www.openmobilealliance.org/

  Send comments to technical-comments@mail.openmobilealliance.org

LEGAL DISCLAIMER

  Use of this document is subject to all of the terms and conditions
  of the Use Agreement located at
    http://www.openmobilealliance.org/UseAgreement.html

  You may use this document or any part of the document for internal
  or educational purposes only, provided you do not modify, edit or
  take out of context the information in this document in any manner.
  Information contained in this document may be used, at your sole
  risk, for any purposes.

  You may not use this document in any other manner without the prior
  written permission of the Open Mobile Alliance.  The Open Mobile
  Alliance authorizes you to copy this document, provided that you
  retain all copyright and other proprietary notices contained in the
  original materials on any copies of the materials and that you
  comply strictly with these terms.  This copyright permission does
  not constitute an endorsement of the products or services.  The
  Open Mobile Alliance assumes no responsibility for errors or
  omissions in this document.

  Each Open Mobile Alliance member has agreed to use reasonable
  endeavors to inform the Open Mobile Alliance in a timely manner of
  Essential IPR as it becomes aware that the Essential IPR is related
  to the prepared or published specification.  However, the members
  do not have an obligation to conduct IPR searches.  The declared
  Essential IPR is publicly available to members and non-members of
  the Open Mobile Alliance and may be found on the "OMA IPR
  Declarations" list at http://www.openmobilealliance.org/ipr.html.
  The Open Mobile Alliance has not conducted an independent IPR review
  of this document and the information contained herein, and makes no
  representations or warranties regarding third party IPR, including
  without limitation patents, copyrights or trade secret rights.  This
  document may contain inventions for which you must obtain licenses
  from third parties before making, using or selling the inventions.
  Defined terms above are set forth in the schedule to the Open Mobile
  Alliance Application Form.

  NO REPRESENTATIONS OR WARRANTIES (WHETHER EXPRESS OR IMPLIED) ARE
  MADE BY THE OPEN MOBILE ALLIANCE OR ANY OPEN MOBILE ALLIANCE MEMBER
  OR ITS AFFILIATES REGARDING ANY OF THE IPR'S REPRESENTED ON THE "OMA
  IPR DECLARATIONS" LIST, INCLUDING, BUT NOT LIMITED TO THE ACCURACY,
  COMPLETENESS, VALIDITY OR RELEVANCE OF THE INFORMATION OR WHETHER OR
  NOT SUCH RIGHTS ARE ESSENTIAL OR NON-ESSENTIAL.

  THE OPEN MOBILE ALLIANCE IS NOT LIABLE FOR AND HEREBY DISCLAIMS ANY
  DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR
  EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OF
  DOCUMENTS AND THE INFORMATION CONTAINED IN THE DOCUMENTS.

  Copyright 2010 Open Mobile Alliance Ltd.  All Rights Reserved.
  Used with the permission of the Open Mobile Alliance Ltd. under the
  terms set forth above.

-->

<xsd:schema targetNamespace="urn:oma:xml:prs:pal:base-policy-type:1.0"
            xmlns:bpt="urn:oma:xml:prs:pal:base-policy-type:1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- OptInSource type -->
  <xsd:simpleType name="OptInSourceType">
     <xsd:restriction base="xsd:token">
         <xsd:pattern value="willing|ignore"/>
     </xsd:restriction>
  </xsd:simpleType>

  <!-- NetType -->
  <xsd:simpleType name="NetType">
     <xsd:restriction base="xsd:string">
         <xsd:pattern value="IMS|[a-zA-Z][a-zA-Z0-9][a-zA-Z0-9]+"/>
     </xsd:restriction>
  </xsd:simpleType>

  <!-- ApplicableNetworkType indicator -->
  <xsd:simpleType name="ApplicableAccessNetworkType">
     <xsd:list itemType="bpt:NetType"/>
  </xsd:simpleType>

  <!-- Threshold indicator types -->  
  <xsd:complexType name="BaseThresholdType" abstract="true">
     <xsd:annotation>
	    <xsd:documentation>
		 Base type definition for threshold types.  Specifies 'label' which 
		 is used to identify the specific threshold, along with the qualified name.
		</xsd:documentation>
     </xsd:annotation>

     <xsd:all>
	    <xsd:element name="label"   type="xsd:token"/>
		<xsd:element name="qn-elem" type="xsd:QName"/>
		<xsd:element name="value" type="xsd:anyType"/>
	 </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ThresholdEqType">
     <xsd:complexContent>
	    <xsd:extension base="bpt:BaseThresholdType"/>
     </xsd:complexContent>
   </xsd:complexType>

  <xsd:complexType name="ThresholdLtType">
     <xsd:complexContent>
	    <xsd:extension base="bpt:BaseThresholdType"/>
     </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ThresholdGtType">
     <xsd:complexContent>
	    <xsd:extension base="bpt:BaseThresholdType"/>
	 </xsd:complexContent>
  </xsd:complexType>

  <!-- Unavailable activities indicator -->
  <xsd:simpleType name="UnavailActivityType">
     <xsd:list itemType="xsd:QName"/>  
  </xsd:simpleType>

  <!-- UndefServCapsSubElems indicator -->
  <!-- UndefBarringState indicator -->
  <xsd:simpleType name="UndefBarringStateType">
	 <xsd:restriction base="xsd:token">
		<xsd:pattern value="ignore|active|terminated"/>
     </xsd:restriction>
  </xsd:simpleType>

  <!-- UndefRegistrationState indicator -->
  <xsd:simpleType name="UndefRegistrationStateType">
     <xsd:restriction base="xsd:token">
	   <xsd:pattern value="ignore|active|terminated"/>
     </xsd:restriction>
   </xsd:simpleType>

   <!-- WillingnessType indicator -->
   <xsd:simpleType name="WillingnessType">
	  <xsd:restriction base="xsd:token">
	    <xsd:enumeration value="open/indefinite"/>
	    <xsd:enumeration value="closed/indefinite"/>
		<xsd:enumeration value="open/time-ofs-value"/>
		<xsd:enumeration value="closed/time-ofs-value"/>
	  </xsd:restriction>
   </xsd:simpleType>

  <!--OMA PAL Policy definitions -->

  <xsd:element name="opt-in-source" type="bpt:OptInSourceType">
	 <xsd:annotation>
	 	<xsd:documentation>
		 Policy: opt-in-source
	     The associated service(s) uses 'willing', or 'ignore' as opt-in indicator.
	     The default is 'ignore' which means no opt-in indicator is relevant.
		 </xsd:documentation>
	 </xsd:annotation>
  </xsd:element>

  <xsd:element name="applicable-access-network-type" type="bpt:ApplicableAccessNetworkType">
	 <xsd:annotation>
	 	<xsd:documentation>
		 Policy: applicable-access-network-type
	     Indicator of applicable access network for the given communication service.
		 </xsd:documentation>
	 </xsd:annotation>
  </xsd:element>

  <xsd:element name="threshold-value-equals" type="bpt:ThresholdEqType">
     <xsd:annotation>
	    <xsd:documentation>
		 Policy: threshold-value-equals
		 Comparison operation (equality) threshold for 'label' for qualified
		 element name 'qn-elem' with value specified as 'value'.
		</xsd:documentation>
     </xsd:annotation>
  </xsd:element>

  <xsd:element name="threshold-value-less-than" type="bpt:ThresholdLtType">
     <xsd:annotation>
	    <xsd:documentation>
		 Policy: threshold-value-less-than
		 Comparison operation (less-than) threshold for 'label' for qualified
		 element name 'qn-elem' with value specified as 'value'.
		</xsd:documentation>
     </xsd:annotation>
  </xsd:element>

  <xsd:element name="threshold-value-greater-than" type="bpt:ThresholdGtType">
     <xsd:annotation>
	    <xsd:documentation>
		 Policy: threshold-value-greater-than
		 Comparison operation (greater-than) threshold for 'label' for qualified
		 element name 'qn-elem' with value specified as 'value'.
		</xsd:documentation>
     </xsd:annotation>
  </xsd:element>

  <xsd:element name="unavailable-activities-set" type="bpt:UnavailActivityType">
     <xsd:annotation>
	    <xsd:documentation>
		 Policy: unavailable-activities-set
		 Used to describe all activities related to an application or enabler
		 that would render an individual unavailable.
		</xsd:documentation>
	 </xsd:annotation>
  </xsd:element>

  <xsd:element name="undef-barring-state" type="bpt:UndefBarringStateType">
	 <xsd:annotation>
	 	<xsd:documentation>
		 Policy: undef-barring-state
	     Indicate how to interpret the absence or omission of specific 
		 &lt;barring-state&gt; sub-elements in presence meta-data.  
		 </xsd:documentation>
	 </xsd:annotation>
  </xsd:element>

  <xsd:element name="undef-registration-state" type="bpt:UndefRegistrationStateType">
	 <xsd:annotation>
	 	<xsd:documentation>
		 Policy: undef-registration-state
	     Indicate how to interpret the absence or omission of specific 
		 &lt;registration-state&gt; sub-elements in presence meta-data.  Default value of 'ignore'
		 indicates that the sub-element has no meaning in this context.
		 </xsd:documentation>
	 </xsd:annotation>
  </xsd:element>

  <xsd:element name="undef-willingness" type="bpt:WillingnessType">
    <xsd:annotation>
	   <xsd:documentation>
	     Policy: undef-willingness
	     Indicator of how to interpret absence or omission of 
	     &lt;willingness&gt; sub-element for the given service.
	     Default value is 'closed/indefinite'.
	   </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>
